@*<h1>사용자 번호 : @Model.id</h1>
    <h1>사용자 이름 : @Model.name</h1>*@

@*<h2>사용자 번호 : @ViewBag.User.id</h2>
<h2>사용자 이름 : @ViewBag.User.name</h2>*@

<h3>사용자 번호 : @ViewData["UserId"]</h3>
<h3>사용자 이름 : @ViewData["UserName"]</h3>